        @import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
         :root {
            /* COLOR */
            --color-blue: #5457b6;
            --color-blue-light: #c3c4ef;
            --color-red: #ed6468;
            --color-red-light: #ffb8bb;
            --color-blue-dark: #324152;
            --color-gray: #67727e;
            --color-gray-light: #eaecf1;
            --color-gray-very-light: #f5f6fa;
            --color-white: #ffffff;
            /* FONET WEIGHT */
            --font-regular: 400;
            --font-bold: 500;
            --font-bolder: 700;
        }
        /* default styling */
        
        *,
         ::after,
         ::before {
            padding: 0px;
            margin: 0px;
            box-sizing: inherit;
        }
        
        html {
            box-sizing: border-box;
            font-size: 62.5%;
        }
        
        @media only screen and (max-width:50em) {
            html {
                font-size: 60%;
            }
        }
        
        @media only screen and (max-width: 43.13em) {
            html {
                font-size: 55%;
            }
        }
        
        @media only screen and (max-width: 39.3em) {
            html {
                font-size: 50%;
            }
        }
        
        @media only screen and (max-width: 20em) {
            html {
                font-size: 40%;
            }
        }
        
        @media only screen and (max-width: 15em) {
            html {
                font-size: 35%;
            }
        }
        
        @media only screen and (max-width: 12.5em) {
            html {
                font-size: 32%;
            }
        }
        
        body {
            background-color: var(--color-gray-very-light);
            font-family: "Rubik", sans-serif;
            font-size: 1.6rem;
        }