@import "./css/base.css";
.App {
    /* margin: 5rem 45rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
}

.comment-section,
.add-comment-section {
    width: 70rem;
}

@media only screen and (max-width: 39.3em) {
    .comment-section,
    .add-comment-section {
        width: 95%;
    }
}

.reply-section {
    border-left: 2px solid var(--color-gray-light);
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    padding-left: 5%;
}

@media only screen and (max-width: 39.3em) {
    .App {
        padding-top: 1rem!important;
    }
    .reply-section {
        border-left: 2px solid var(--color-gray-light);
        display: flex;
        flex-direction: column;
        margin-left: 0rem;
        padding-left: 2%;
    }
}